<div class="flex justify-content-center align-items-center flex-column h-screen bg-purple-900">
  <div class="surface-card shadow-2 p-3 border-round mb-2 w-25rem">
    <div class="text-4xl mb-4 text-center font-medium text-900">
      Gerador de Senhas
    </div>

    <input #iptPassword type="text" pInputText class="w-full mb-4 text-center" [(ngModel)]="password" readonly>

    <div class="flex justify-content-between">
      <button type="button" pButton class="p-button-sm" label="Gerar Senha"
              (click)="generatePassword()">
      </button>
      <button type="button" pButton class="p-button-sm" label="Copiar Senha" [disabled]="!password"
              (click)="copyPassword()">
      </button>
    </div>
  </div>

  <div class="surface-card shadow-2 p-3 border-round w-25rem">
    <form class="grid formgrid p-fluid">
      <div class="col-12 field ">
        <label>Número de caracteres da senha</label>

        <div>
          <input type="text" pInputText [(ngModel)]="passwordLength" [ngModelOptions]="{standalone: true}" readonly/>
          <p-slider name="passwordLength" [(ngModel)]="passwordLength" [max]="50" [min]="1"></p-slider>
        </div>
      </div>
    </form>

    <div class="flex justify-content-between w-full">

    </div>
  </div>
</div>

<p-toast key="toast"></p-toast>
